.color-DA291C {
  background-color: #DA291C;
}
.color-ED8B00 {
  background-color: #ED8B00;
}
.color-00843D {
  background-color: #00843D;
}
.color-003DA5 {
  background-color: #003DA5;
}
.color-7C878E {
  background-color: #7C878E;
}
.color-80276C {
  background-color: #80276C;
}
.color-008EAA {
  background-color: #008EAA;
}
.color-FFC72C {
  background-color: #FFC72C;
}
.text-color-FFFFFF {
  color: #FFFFFF;
}
.text-color-000000 {
  color: #000000;
}
